@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://use.typekit.net/jbu5foq.css');

// Set your brand colors
$darkblue: #282d4f;
$darkblue-hover: #363d6c;
$brand-black: #000000;
$brand-green: #3a6351;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;

@import '~bulma/bulma.sass';

// * HOME PAGE STYLES

.header-style {
  background: $brand-black;
}
.header-style-hoc {
  border-bottom: 1px solid #dddddd !important;
}

header {
  padding: 1rem;
}

.logo {
  font-family: stratos, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 2em;
  padding-left: 5rem;
}
.logo-brand {
  font-family: stratos, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: $brand-green;
  font-size: 2em;
  padding-left: 5rem;
}
.logo-space {
  padding-left: 0.5rem;
}

.header-bg {
  background: url('./assets/pubhub-header-img.png'), no-repeat;
  background-size: cover;
  width: 95%;
  margin: 0 auto;

  margin-top: 2rem;
}

.header-cta {
  font-family: stratos, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: white;
  font-size: 2em;
  padding-left: 3rem;
  text-align: center;
}

.cta-container {
  padding: 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
}

.header-links {
  color: white;
  margin-top: 1rem;
  text-align: right;
}
.header-links-hoc {
  color: $brand-black;
  margin-top: 1rem;
  text-align: right;
}

.hamburger-button {
  border-radius: 20px;
  background: rgb(237, 237, 237);
}
.hamburger-button-hoc {
  border-radius: 20px;
  border: 1px solid #dddddd;
}

.left {
  padding-top: 1rem;
}

.search-bar {
  padding: 0.5rem 0.5rem;
  width: 40%;
  background: white;
  border-radius: 60px;
  justify-content: center;
  z-index: 5;
  outline: none;
  border: none;
  position: absolute;
  top: 0;
  left: 32%;
  margin-top: 5rem;
}

.search-input {
  padding: 0rem 1rem;
  border: none;
  width: 100%;
  outline: none;
  background: none;
}

.location {
  display: flex;
  flex-direction: column;
  z-index: 6;
  border-radius: 60px;
  cursor: pointer;
}
.location:hover {
  background: rgb(244, 241, 241);
  cursor: pointer;
}
.location-label {
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-button {
  height: 50px;
  width: 50px;
  background-color: $brand-green;
  border-radius: 50%;
  display: inline-block;
}
.search-icon {
  color: white;
  transform: scale(1);
}

// Main Styles

main {
  padding: 1rem;
  margin-top: 2rem;
}

h1,
h2,
h3 {
  font-family: stratos, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: $brand-black;
  font-size: 2em;
}
.content-container {
  width: 90%;
  margin: 0 auto;
}

.content-container img {
  border-radius: 8px;
}
.content-container p {
  font-size: 1.2em;
  font-weight: 700;
}
.pubs-heading {
  margin-bottom: 2rem;
}

.share-box {
  background: url('./assets/share.png');
  background-size: cover;
  width: 90%;

  margin: 0 auto;
  border-radius: 20px;
  margin-top: 4rem;
  padding: 3rem;
  color: white;
}
.share-box h1 {
  font-size: 3em;
  color: white;
}

.share-box p {
  font-size: 1.4em;
  margin-bottom: 1rem;
}

.share-text {
  width: 90%;
  margin-left: 1.5rem;
}

// * FOOTER STYLES

footer {
  margin-top: 4rem;
  background-color: #f7f7f7 !important;
  border-top: 1px solid #dddddd !important;
  padding: 2rem;
  bottom: 0;
  width: 100%;
}

.footer-body {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.footer-body li {
  list-style: none;
  line-height: 2rem;
}
.footer-body ul {
  margin-top: 1rem;
}

// * mobile optimisation

@media only screen and (max-width: 765px) {
  .logo,
  .logo-brand {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }
  .header-links-hoc,
  .header-links {
    text-align: center;
  }
  .hamburger-button-hoc,
  .hamburger-button {
    text-emphasis: center;
  }
  .left {
    text-align: center;
    justify-content: center;
  }
}

// * pub card
.pubcard-image {
  height: 200px;
  width: 300px;
}
