@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://use.typekit.net/jbu5foq.css');

// Set your brand colors
$darkblue: #282d4f;
$darkblue-hover: #363d6c;
$brand-black: #000000;
$brand-green: #3a6351;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;

@import '~bulma/bulma.sass';

// * HOME PAGE STYLES
a {
  color: $brand-black;
}
.header-style {
  background: $brand-black;
}
.header-style-hoc {
  // border-bottom: 1px solid #dddddd;
  background: white;
  filter: drop-shadow(0px 5px 4px rgba(196, 196, 196, 0.2));
  z-index: 20;
  position: relative;
}

header {
  padding: 1rem;
}

.logo {
  font-family: stratos, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 2em;
  padding-left: 5rem;
}
.logo-brand {
  font-family: stratos, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: $brand-green;
  font-size: 2em;
  padding-left: 5rem;
}
.logo-space {
  padding-left: 0.5rem;
}

.header-bg {
  background: url('./assets/pubhub-header-img.png'), no-repeat;
  background-size: cover;
  width: 95%;
  margin: 0 auto;

  margin-top: 2rem;
}

.header-cta {
  font-family: stratos, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: white;
  font-size: 2em;
  padding-left: 3rem;
  text-align: center;
}

.cta-container {
  padding: 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
}

.header-links {
  color: white;
  margin-top: 1rem;
  text-align: right;
}
.header-links-hoc {
  color: $brand-black;
  margin-top: 1rem;
  text-align: right;
}

.hamburger-button {
  border-radius: 20px;
  background: rgb(237, 237, 237);
}
.hamburger-button-hoc {
  border-radius: 20px;
  border: 1px solid #dddddd;
}

.left {
  padding-top: 1rem;
}

.search-bar {
  padding: 0.5rem 0.5rem;
  width: 40%;
  background: white;
  border-radius: 60px;
  justify-content: center;
  z-index: 5;
  outline: none;
  border: none;
  position: absolute;
  top: 0;
  left: 32%;
  margin-top: 5rem;
}

.search-input {
  padding: 0rem 1rem;
  border: none;
  width: 100%;
  outline: none;
  background: none;
}
.search-divider {
  border-left: 1px solid rgb(220, 220, 220);
  height: 3vh;
  margin-top: 0.6rem;
}

.location {
  display: flex;
  flex-direction: column;
  z-index: 6;
  border-radius: 60px;

  cursor: pointer;
}
.location:hover {
  background: rgb(244, 241, 241);
  cursor: pointer;
}
.location-label {
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-button {
  height: 50px;
  width: 50px;
  background-color: $brand-green;
  border-radius: 50%;
  display: inline-block;
}
.search-icon {
  color: white;
  transform: scale(1);
}

// * sticky header

.sticky {
  position: sticky;
  transition: 1s ease all;
  top: 0;
  z-index: 100; /* this is optional and should be different for every project */
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.hide {
  display: none;
  transition: 1s ease all;
}

// Main Styles

main {
  padding: 1rem;
  margin-top: 2rem;
}

h1,
h2,
h3 {
  font-family: stratos, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: $brand-black;
  font-size: 2em;
}
.content-container {
  width: 90%;
  margin: 0 auto;
}

.content-container img {
  border-radius: 8px;
}
.content-container p {
  font-size: 1.2em;
  font-weight: 700;
}
.pubs-heading {
  margin-bottom: 2rem;
}

.share-box {
  // background: url('./assets/share.png');

  background: radial-gradient(
      circle at top left,
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0)
    ),
    /* bottom, image */ url('./assets/share.png'), no-repeat;

  background-size: cover;
  width: 90%;

  margin: 0 auto;
  border-radius: 20px;
  margin-top: 4rem;
  padding: 3rem;
  padding-bottom: 10vh;
  color: white;
  padding-top: 8rem;
}
.share-box button {
  border-radius: 10px;
  margin-top: 2rem;
  padding: 1.3rem 1.7rem;
}
.share-box h1 {
  font-size: 3em;
  color: white;
}

.share-box p {
  font-size: 1.4em;
  margin-bottom: 1rem;
}

.share-text {
  width: 90%;
  margin-left: 1.5rem;
}

// * FOOTER STYLES

footer {
  margin-top: 2.5rem;
  // background-color: #f6f7fb !important;
  border-top: 1px solid #efecec !important;
  padding: 2rem;
  bottom: 0;

  width: 100%;
}

.footer-body {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.footer-body li {
  list-style: none;
  line-height: 2rem;
}
.footer-body ul {
  margin-top: 1rem;
}

.dropdown-shape {
  border-radius: 10px;
  margin-top: 0.8rem;
  z-index: 1000 !important;
  width: 15rem;
}

// * pub card

.pubcard-image {
  height: 200px;
  width: 300px;
  border-radius: 10px;
}

//* pub index

.pub-index-text {
  padding: 2rem;
}

.pub-filter-button {
  border-radius: 20px;
  margin-left: 1rem;
}

.pub-filter-button:first-child {
  margin: 0;
}
.pub-filter-buttons {
  margin-top: 2rem;
  display: flex;
}
.pub-filter-cta {
  margin-top: 2rem;
}
.pub-index-container {
  width: 95%;
  margin: 0 auto;
}
.card-hr {
  width: 20%;
}
.card-rating {
  margin-top: 1rem;
  display: flex;
}
.card-rating p {
  margin-left: 1rem;
}
.rating-star {
  color: $brand-green;
}
.rating-star2 {
  color: $brand-green;
  padding-top: 0.4rem;
}

//* Pub Show

.pub-show-container {
  width: 80%;
  margin: 0 auto;
}
.address {
  text-decoration: underline;
  cursor: pointer;
}
.share-options {
  display: flex;
  text-decoration: underline;
  padding-top: 3rem;
  justify-content: space-between;
}
.share-align {
  display: flex;
  text-decoration: underline;

  justify-content: space-between;
}
.share-align p {
  cursor: pointer;
}
.align-right {
  padding: 1rem;
}

.show-image {
  border-radius: 10px;
}

.icon-space {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.desc-icon {
  margin-right: 1rem;
}
.icon-align {
  display: flex;
}

.icon-align p {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.benefits {
  display: flex;
  margin-top: 1rem;
}
.overall-rating {
  font-size: 1.5em;
  font-weight: 700;
}

.average-ratings-container {
  padding-top: 1rem;
}
.comments {
  margin-top: 2rem;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  -moz-appearance: none;
  width: 50%;
  height: 5px; /* Specified height */

  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 20px;
  margin-right: 0.5rem;
  margin-top: 0.4rem;
}
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #dddddd;
}

progress[value]::-webkit-progress-bar {
  background: none;
}
progress[value]::-webkit-progress-value {
  background: #2a2a2a;
  border-radius: 20px;
}

.range {
  display: flex;
  font-size: 0.8em;
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
}

.profile-comment-container {
  display: flex;
  flex-direction: column;
}

.profile-comment {
  margin-top: 2rem;
}

.review-image {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-right: 1rem;
}
.review-image img {
  border-radius: 50px;
}

.review-details-container {
  display: flex;

  margin-bottom: 1rem;
}
.profile-review-details-container {
  display: flex;

  margin-bottom: 1rem;
}
.review-date {
  color: #989898;
  font-weight: 100;
}
.comment {
  font-size: 1.1em;
}
.reviews-button-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.reviews-button {
  font-weight: 700;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  margin-right: 1rem;
}
.reviews-button:hover {
  background: #f0f0f0;
}

.delete-review {
  margin-top: 1rem;
}

.card-image img {
  height: 15vh;
}

// * login
.login-box {
  border: solid black 1px;
  border-radius: 25px;
  background: white;
  margin: 0.4rem;
}

.login-h1 {
  color: white;
}
.login-h1 h1 {
  color: white;
}

// * Map
.map-container {
  height: calc(100vh - 52px);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

// * Become Landlord

.landlord-header-bg {
  background: 
    /* top, transparent red, faked with gradient */ radial-gradient(
      circle at top left,
      rgba(0, 0, 0, 0.7),
      rgba(255, 255, 255, 0)
    ),
    /* bottom, image */
      url('https://images.pexels.com/photos/63633/bar-local-cong-ireland-63633.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260'),
    no-repeat;
  background-size: cover;
  width: 100%;
}

.landlord-hero-body {
  color: white;
  width: 50%;
  margin-left: 1rem;
}
.landlord-hero-body h1 {
  color: white;
  font-size: 3em;
}
.landlord-hero-body h2,
h3 {
  color: white;
  font-size: 1.2em;
  letter-spacing: 3px;
}

.landlord-get-started {
  font-weight: 700;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  border: none;
  background: $brand-green;
  color: white;
  margin-bottom: 2rem;
}
.landlord-get-started:hover {
  color: white;
  background: #4a7d67;
}
.landlord-get-started:focus {
  color: white;
  background: #4a7d67;
}
.landlord-boxes {
  margin-top: 3rem;
}

.lanlord-box {
  padding: 2rem;
  font-weight: 100;
  margin: 1rem;
}
.landlord-content {
  width: 70%;
  margin: 0 auto;
}
.landlord-box h1 {
  font-weight: 100;
}
.landlord-box h5 {
  font-weight: 700;
  font-size: 1.3em;
}

// * Landlord Sign

.landlord-sign-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 10vh;
}
.landlord-sign-up h1,
h2 {
  font-weight: 100;
  color: #454545;
}
.landlord-sign-up h2 {
  font-size: 1.5em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.landlord-sign-up h3 {
  font-size: 1.1em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.landlord-sign-up-button {
  margin-top: 2rem;
}

.feature-checkbox {
  display: flex;
  margin-bottom: 2rem;
}
.feature-text {
  display: flex;
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

.feature-icon {
  margin-right: 2rem;
}

.checkbox {
  margin-left: 1rem;
  margin-top: 0.6rem;
}

.hide {
  display: none;
}

.form-nav {
  display: flex;
  justify-content: space-between;
}

.back-button {
  margin-top: 2.5rem;
  cursor: pointer;
  text-decoration: underline;
}

//** *******PROFILE STYLING***********

.profile-container {
  width: 85%;
  margin: 0 auto;
  padding-top: 4rem;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 80px;
}

.edit-profile-button {
  text-decoration: underline;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 600;
}

.profile-box {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

// * Submit Review Styling

.submit-review-container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.review-box {
  border: 1px solid rgb(230, 228, 228);
  padding: 2rem;
  border-radius: 20px;
}
.review-breadcrumb {
  word-spacing: 0.4rem;
  color: #4a4a4a;
}
.review-breadcrumb a {
  color: #4a4a4a;
}
.review-breadcrumb a:hover {
  color: #4a4a4a;
  text-decoration: underline;
}
.crumb-arrow {
  color: rgb(191, 191, 191);
  font-size: 1.4em;
}

// * Login and sign up

.login-box {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.login-container {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.login-input-box {
  border: 1px solid rgb(189, 189, 189);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.7rem 5rem;
  -webkit-appearance: none;
  text-align: center;
  justify-content: center;

  display: flex;
}
.login-input-box-pass {
  border: 1px solid rgb(189, 189, 189);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  padding: 0.7rem 5rem;
  -webkit-appearance: none;
  text-align: center;
  justify-content: center;

  display: flex;
}
.sign-up-input-box-middle {
  border: 1px solid rgb(189, 189, 189);
  border-top: none;
  padding: 0.7rem 5rem;
  -webkit-appearance: none;
  text-align: center;
  justify-content: center;

  display: flex;
}

.sign-up-input-box-middle:hover {
  border: 1px solid #000000;
}

.login-input-box-pass:hover {
  border: 1px solid #000000;
}
.login-input-box:hover {
  border: 1px solid #000000;
}

.login-input {
  border: none;
  padding: 0.5rem 1rem;
  -webkit-appearance: none;
  margin-right: 4rem;
  text-align: left;
  width: 25rem;
}
.login-input:focus {
  border: none;

  -webkit-appearance: none;
  outline: none;
}

.login-button {
  background: radial-gradient(
    circle at top left,
    rgb(58, 99, 81),
    rgb(59, 137, 103)
  );
  border-radius: 10px;
  color: white;
  padding: 1.3rem 0rem;
}
.login-button:hover {
  color: white;
}

// * owned pubs

.owned-pubs {
  border-radius: 10px;
}
.owned-pubs img {
  border: 10px;
}

// * Delete styles

.delete-button {
  margin-right: 1rem;
}

// * upload button

::-webkit-file-upload-button {
  /* chrome and edge */
  display: inline-block;
  margin: 0rem 1rem 0rem 0rem;
  padding: 0.5em 0.5em;
  padding: 0.19rem 0.5rem;
  -webkit-appearance: button;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(215, 214, 214);

  background: none;
  white-space: nowrap;
  cursor: pointer;
}

.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1em;
  z-index: 999999;
  box-sizing: border-box;
}

.modal.modal-fade {
  animation: fade-in 1s 1 linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

.modal > .modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal > .modal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #5e5e5e;
  cursor: pointer;
  font-size: 1.25em;
  padding: 7px;
  // background: rgba(255, 255, 255, 0.749);
  // border: 1px solid #c3c0c0;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.modal > .modal-close:hover {
  background: rgba(255, 255, 255, 0.989);
}

.modal > .modal-body {
  z-index: 2;
  position: relative;
  margin: 0 auto;
}

@keyframes fade-in {
  0% {
    animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// * mobile optimisation

@media only screen and (max-width: 765px) {
  .logo,
  .logo-brand {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }
  .header-links-hoc,
  .header-links {
    text-align: center;
  }
  .hamburger-button-hoc,
  .hamburger-button {
    text-emphasis: center;
  }
  .left {
    text-align: center;
    justify-content: center;
  }
  .hamburger-button {
    margin-top: 1rem;
  }
  .hamburger-button-hoc {
    margin-top: 1rem;
  }
  .search-bar {
    display: none;
  }
}

//! *******STYLING ON STRETCH ELEMENTS *********

.stretch a {
  cursor: not-allowed;
}
.link-to-index {
  color: blue;
}
